@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --clr-white: #fbfcfe;
  --clr-neutral: #efefef;
  --clr-grey-100: hsl(0, 1.3%, 89.8%);
  --clr-grey-400: hsl(0, 1.3%, 29.8%);
  --clr-watermelon: #ff3b3f;
  --clr-sky: hsl(190.5, 60.6%, 87.1%);
  --clr-sky-white: hsl(190.5, 60.6%, 95.1%);
}

/* Typography */
body {
  font-family: "Poppins", sans-serif;
  color: var(--clr-grey-400);
}

button {
  color: var(--clr-watermelon);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1em;
}

h1 {
  font-size: 1.7em;
}

input {
  text-align: center;
  font-size: 1.5em;
}

input::placeholder {
  text-align: center;
  font-size: 1.5em;
}

.city-name {
  font-size: 2em;
}

.city-date {
  font-size: 1em;
}

.current-weather-element > p {
  font-weight: 500;
  font-size: 1em;
}

.five-day-weather > h3 {
  font-size: 1.5em;
}

.weather-icon {
  font-size: 5em;
}

/* Styling */

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--clr-white);
}

button {
  padding: 0.5em 1em;
  border: solid 0.17em var(--clr-watermelon);
  background-color: transparent;
  border-radius: 4px;
}

header {
  height: 20vh;
  position: relative;
  background-color: var(--clr-white);
  display: flex;
  align-items: center;
  justify-content: center;
}

header > h1 {
  margin-left: 5vw;
  z-index: 1;
}

input {
  background-color: var(--clr-grey-100);
  border: none;
  outline: none;
}

.city-input {
  margin: 0 0 1.5em 0;
  width: 80vw;
  height: 3em;
}

.current-weather {
  order: 0;
  height: 50vh;
  width: 100vw;
  background: linear-gradient(
    0.27turn,
    var(--clr-sky),
    var(--clr-sky-white),
    var(--clr-sky)
  );
  opacity: 0.8;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-radius: 4px;
}

@media screen and (min-width: 588px) {
  .current-weather {
    align-self: center;
    width: 40em;
    border: 1px solid #fff;
  }
}

.current-weather-container {
  margin-top: 1em;
  margin-left: 2em;
}

.current-weather-element {
  position: relative;
  display: flex;
  flex-direction: column;
}

.current-weather-element > img {
  position: absolute;
  top: 15vh;
  background-color: var(--clr-sky);
  border-radius: 50%;
  border: 1px solid #fff;
  height: 8em;
  width: 8em;
}

.current-weather-element > .temperature {
  margin-top: 5vh;
}

.current-weather-element > p {
  padding-top: 1vh;
  margin-left: 8.5em;
}

@media screen and (min-width: 469px) {
  .current-weather-element > p {
    padding-top: 1vh;
    margin-left: 40vw;
  }
}

@media screen and (min-width: 500px) {
  .current-weather-element > p {
    padding-top: 1vh;
    margin-left: 20em;
  }
}

.five-day-weather {
  order: 3;
  margin-left: 5vw;
}

.five-day-weather-card {
  margin: 5vh 5vw;
  padding: 1em;
  background: linear-gradient(
    0.27turn,
    var(--clr-sky),
    var(--clr-sky-white),
    var(--clr-sky)
  );
  opacity: 0.8;
  border: 1px solid #fff;
  border-radius: 4px;
}

.five-day-weather-element {
  margin: 5vh 5vw;
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
}

.hidden {
  display: none;
}

.main-container {
  display: flex;
  flex-direction: column;
}

.recent-search-container {
  margin: 5vh 5vw;
}

.recent-searches {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.recent-searches > .btn {
  margin-top: 1em;
}

.search-bar {
  order: 1;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30vh;
}

.uv-green,
.uv-yellow,
.uv-orange,
.uv-red,
.uv-deep-purple {
  position: relative;
}

.uv-green::after,
.uv-yellow::after,
.uv-orange::after,
.uv-red::after,
.uv-deep-purple::after {
  position: absolute;
  bottom: 0.3em;
  left: 3em;
  content: "";
  height: 1em;
  width: 1em;
  border-radius: 50%;
  opacity: 0.8;
  background-color: transparent;
}

.uv-green::after {
  background-color: rgb(34, 189, 34);
}

.uv-yellow::after {
  background-color: yellow;
}
.uv-orange::after {
  background-color: orange;
}
.uv-red::after {
  background-color: red;
  content: "";
}
.uv-deep-purple::after {
  background-color: purple;
}

.weather-icon {
  position: absolute;
  left: 0;
  margin-left: 5vw;
  z-index: 0;
}

@media screen and (min-width: 768) {
}
